{% extends "base.html" %}
{% load static %}
{% block title %}MoonAudioProduction{% endblock title %}
{% load cache %}

{% block content %}
    <main>
        <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" style="margin-top: 10px">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                        <a href="http://127.0.0.1:8000/latest_book/">
                            <image width="100%" height="100%" xlink:href="{% static "media/static/images/new_books.jpeg" %}" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                        </a>
                    </svg>
                </div>

                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                        <a href="http://127.0.0.1:8000/filter/?genre=5">
                            <image width="100%" height="100%" xlink:href="{% static "media/static/images/best_sci.webp" %}" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                        </a>
                    </svg>
                </div>

                <div class="carousel-item active">
                    <svg class="bd-placeholder-img" width="100%" height="400px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                        <title>Placeholder</title>
                        <image width="100%" height="100%" xlink:href="{% static "media/static/images/bookshelf.webp" %}" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em"></text>
                    </svg>

                    <div class="container">
                        <div style="color: white" class="carousel-caption text-end">
                            <h1 id="carousel" style="font-family: Roca,serif;">"Books are a uniquely portable magic"</h1>
                            <h3 id="carousel" style="font-family: Roca,serif;">Stephen King</h3>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <div style="margin-top: 10px" class="container py-3">
            <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-top border-bottom">
                <span class="fs-4" style="font-family: Roca,serif; color: #005748;">
                    <h1>Browse Books by Genre</h1>
                </span>
            </div>
        </div>

        <div class="container marketing">
            <div class="row">
                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=5">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/frankenstein.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                        </img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Sci-Fi</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=2">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/poppins.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Fantasy</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=3">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/it.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Horror</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=1">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/godfather.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Crime</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=6">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/i_am_zlatan.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Biographies</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=7">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/lambs.jpg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Detective</h2>
                </div>

                <div class="col-lg-4" style="width: 175px">
                    <a href="http://127.0.0.1:8000/filter/?genre=4">
                        <img class="bd-placeholder-img rounded-circle" src="{% static "media/jane_eyer.jpeg" %}" width="150" height="150" xmlns="http://www.w3.org/2000/svg"   role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></img>
                    </a>
                    <p>
                    <h2 style="text-align: center; font-family: Roca,serif;" class="fw-normal">Romance</h2>
                </div>
            </div><!-- /.row -->

            <hr class="featurette-divider">
            <div class="row featurette">
            <p>
                <div class="col-md-7">
                    <h2 style="margin-bottom: 7px; font-family: Roca,serif;" class="featurette-heading fw-normal lh-1">"A reader lives a thousand lives before he dies, said Jojen. The man who never reads lives only one"</h2>
                            <h5 style="font-family: Roca"><span class="text-secondary">"A mind needs books as a sword needs a whetstone, if it is to keep its edge"</span></h5>
                    <br>
                    <h5 style="text-align: right; font-family: Roca">― George R.R. Martin</h5>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img" width="100%" height="280px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                            <image width="100%" height="100%" xlink:href="{% static "media/reading.webp" %}" />
                        </a>
                    </svg>
                </div>
                <p>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
                <p>
                <div class="col-md-7 order-md-2">
                    <h2 style="margin-bottom: 7px; font-family: Roca,serif;" class="featurette-heading fw-normal lh-1">"The ability to read awoke inside of me some long dormant craving to be mentally alive."</h2>
                    <br>
                    <h5 style="text-align: right; font-family: Roca">― Malcolm X</h5>
                </div>

                <div class="col-md-5 order-md-1">
                    <svg class="bd-placeholder-img" width="100%" height="333px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                            <image width="100%" height="100%" xlink:href="{% static "media/malcom.jpeg" %}" />
                        </a>
                    </svg>
                    <p>
                </div>
            </div>
            <p>

            <hr class="featurette-divider">
            <div class="row featurette">
                <p>
                <div class="col-md-7">
                    <h2 style="margin-bottom: 7px; font-family: Roca,serif;" class="featurette-heading fw-normal lh-1">"Books are the perfect entertainment: no commercials, no batteries, hours of enjoyment for each dollar spent."</h2>
                    <h5 style="font-family: Roca"><span class="text-secondary">"What I wonder is why everybody doesn't carry a book around for those inevitable dead spots in life."</span></h5>
                    <br>
                    <h5 style="text-align: right; font-family: Roca">― Stephen King</h5>
                </div>
                <div class="col-md-5">
                    <svg class="bd-placeholder-img" width="76%" height="273px" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect>
                            <image width="100%" height="100%" xlink:href="{% static "media/b.jpeg" %}" />
                        </a>
                    </svg>
                </div>
            <p>
            </div>

            <hr class="featurette-divider">
        </div><!-- /.container -->
    </main>

{% endblock content %}