{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block content %}


{% if form.errors %}
    <p>Ooops! Your username and/or password didn't match. Please try again using valid credentials</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page.
            To proceed, please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<div class="card text-bg-light mb-3" style="width: 22rem; height: 320px; margin-top: 50px">
    <div style="text-align: center; height: 60px" class="card-header"><h2>Log In</h2></div>
        <div class="card-body">
            <form style="position: initial" action="{% url "shop:login"  %}" method="POST" >
            {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                    <div class="form-group"><p></p>
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field|add_class:'form-control' }}
                        {% for error in field.errors %}
                            <span class="help-block">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
                <p></p>
                <div class="form-group">
                    <button style="width: 120px; border-radius: 7px" type="submit" class="btn btn-outline-success btn-lg">Sign In</button>
                </div>
            </form>
        </div>
</div>
{% endblock %}