{% extends "base.html" %}


{% load static %}
{% load widget_tweaks %}
{#<p> {{ is_paginated }} </p>#}
{% block content %}

    <div style="margin-top: 20px" class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{ book.name }}</h4>
                </div>

                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ book.price }}<small class="text-body-secondary fw-light"></small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>10 users included</li>
                        <li>2 GB of storage</li>
                        <li>Email support</li>
                        <li>Help center access</li>
                    </ul>

                    <form method="post" action="{% url 'Cart:cart_add' book.pk %}">
                        {% csrf_token %}
                        {{ part_form.quantity|add_class:'form-control' }}
                        <button style="margin-top: 10px" class="w-100 btn btn-lg btn-outline-primary" type="submit">Add to Cart</button>
                    </form>

{#                    <button type="button" class="w-100 btn btn-lg btn-outline-primary js-contact-us" data-bs-toggle="modal" data-bs-target="#modal-contact-us" data-bs-whatever="@getbootstrap" data-url="{% url "Cart:cart_detail" %}">Add to Cart</button>#}
                    <div class="modal fade" id="modal-contact-us" tabindex="-1" aria-labelledby="contact_us" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

Quantity