{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% load cache %}

{% block content %}
    <div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-secondary" href="{% url "shop:book-list" %}">&#8678; Continue Shopping</a>

            <br>
            <br>

            <table class="table">
                <tr>
                    <th><h5>Purchased Books: <strong>{{ book.title }}</strong></h5></th>
                    <th><h5>Total Cost: <strong></strong></h5></th>
                    <th>
                        <a style="float: right; margin: 7px;" class="btn btn-success" href="{% url "shop:checkout" %}">Proceed to Checkout &#8680;</a>
                    </th>
                </tr>
            </table>
        </div>

        <div class="box-element">
            <div class="cart-row">
                <div style="flex: 2"></div>
                <div style="flex: 2"><strong>Item</strong></div>
                <div style="flex: 2"><strong>Price</strong></div>
                <div style="flex: 1"><strong>Quantity</strong></div>
                <div style="flex: 1"><strong>Total Cost</strong></div>
            </div>

            <div class="cart-row">
                <div style="flex:2"><img class="row-image" src="{% static 'images/placeholder.png' %}"></div>
                <div style="flex:2"><p>{{ cartItems }}</p></div>
                <div style="flex:2"><p>{{ items }}</p></div>
                <div style="flex:1">
                    <p class="quantity"></p>
                    <div class="quantity">
                        <div class="input-group quantity-selector">
                            <input type="number" id="inputQuantitySelector" class="form-control" aria-live="polite" data-bs-step="counter" name="quantity" title="quantity" value="0" min="0" max="10" step="1" data-bs-round="0" aria-label="Quantity selector">
                        </div>

                        <img class="chg-quantity" src="{% static  'images/up.png' %}">

                        <img class="chg-quantity" src="{% static  'images/down.png' %}">

                    </div>
                </div>
                <div style="flex:1"><p></p></div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{#{% load static %}#}
{##}
{#{% block title %}#}
{#  Корзина покупок#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#  <h1>Корзина покупок</h1>#}
{#  <table class="cart">#}
{#    <thead>#}
{#      <tr>#}
{#        <th>Картинка</th>#}
{#        <th>Товар</th>#}
{#        <th>Обновить кол-во</th>#}
{#        <th>Удалить</th>#}
{#        <th>Кол-во</th>#}
{#        <th>Цена за шт</th>#}
{#        <th>Общая стоимость</th>#}
{#      </tr>#}
{#    </thead>#}
{#    <tbody>#}
{#      {% for item in cart %}#}
{#        {% with product=item.product %}#}
{#          <tr>#}
{#            <td>#}
{#              <a href="{{ product.get_absolute_url }}">#}
{#                <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">#}
{#              </a>#}
{#            </td>#}
{#            <td>{{ product.name }}</td>#}
{#            <td>#}
{#              <form action="{% url 'cart:cart_add' product.id %}" method="post">#}
{#                {{ item.update_quantity_form.quantity }}#}
{#                {{ item.update_quantity_form.update }}#}
{#                <input type="submit" value="Обновить">#}
{#                {% csrf_token %}#}
{#              </form>#}
{#            </td>#}
{#            <td><a href="{% url 'cart:cart_remove' product.id %}">Удалить</a></td>#}
{#            <td>#}
{#              {{ item.quantity }}#}
{#            </td>#}
{#            <td class="num">${{ item.price }}</td>#}
{#            <td class="num">${{ item.total_price }}</td>#}
{#          </tr>#}
{#        {% endwith %}#}
{#      {% endfor %}#}
{#      <tr class="total">#}
{#        <td>Всего</td>#}
{#        <td colspan="4"></td>#}
{#        <td class="num">${{ cart.get_total_price }}</td>#}
{#      </tr>#}
{#    </tbody>#}
{#  </table>#}
{#  <p class="text-right">#}
{#    <a href="{% url 'shop:product_list' %}" class="button light">В магазин</a>#}
{#    <a href="#" class="button">Оформить заказ</a>#}
{#  </p>#}
{#{% endblock %}#}
