{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
    {% block title %}Book List{% endblock %}
    <meta charset="UTF-8">
</head>

<body>
{% block content %}
    <fieldset>
        <h1>Books of the selected genre</h1>
    </fieldset>
    <hr class="featurette-divider">
        <div class="row">
            {% if object_list %}
                {% for book in object_list %}
                    {% if book.available == True %}
                        <div class="col-lg-3 d-flex align-items-stretch">
                            <div class="box-element product" style="position: relative; width: 300px; height: 710px; margin-top: 20px;">
                                <div class="card mb-4 rounded-2 shadow-sm">
                                    <div class="card-header py-3">
                                        <h2 align="center">{{ book.name }} </h2>
                                    </div>

                                    <div class="card-body d-flex" style="min-height: 450px;">
                                        <ul class="list-unstyled mt-3 mb-4" >
                                            <img width="100%" align="center" src="{{ book.image.url }}" alt="">
                                        </ul>
                                    </div>
                                </div>
                                    <h1 class="card-title pricing-card-title" style="bottom: 30px">${{ book.price }}<small class="text-body-secondary fw-light"></small></h1>

                                <div style="position: absolute; bottom: 0px; width: 270px; padding-bottom: 10px">
                                    <a class="w-100 btn btn-lg btn-success" href="{% url "shop:book-detail" book.pk book.slug %}">View</a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <h3 style="font-family: Roca">Oops... Looks like we don't have any books matching your search parameters &#9785;</h3>
            {% endif %}
        </div>
{% endblock content %}

</body>
</html>