<!DOCTYPE html>
<html>
<head>
<style>
form {
    position: absolute;
    top: 330px;
    margin-left: -5px;
}

</style>
</head>
<body>
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 200px; min-height: 70vh;">
    <ul class="nav nav-pills flex-column mb-auto">
        {% if request.user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="{% url "shop:logout" %}">Logout</a>
        {% endif %}
        {% if not request.user.is_authenticated %}
            <a class="nav-link active" aria-current="page" href="{% url "shop:login" %}">Login</a>
            <hr>
            <a class="nav-link active" aria-current="page" href="{% url 'shop:register' %}">Sign Up</a>
        {% endif %}
        <hr>

        <li>
            <a href="{% url "shop:book-list" %}" class="nav-link text-white">Bookshelf</a>
        </li>
        <li>
            <a href="{% url "shop:latest-book-list" %}" class="nav-link text-white">Latest arrivals</a>
        </li>

    </ul>

    {% if request.path == '/book/' or request.path == '/filter/' %}
        <form action="{% url "shop:genre-filter" %}" method="GET">
            <div class="left-side my-2">
                <h3 class="sear-head editContent" >Genres</h3>
                <ul class="w3layouts-box-list" style="padding-left: 10px">
                    {% for genre in view.get_genres %}
                        <div class="editContent">
                            <div class="form-check">
                                <label>
                                    <input class="form-check-input" type="checkbox" name="genre" value="{{ genre.id }}">
                                    {{ genre.name }}
{#                                    <span class="span editContent" >{{ genre.name }}</span>#}
                                </label>
                            </div>
{#                            <input type="checkbox" class="checked" name="genre" value="{{ genre.id }}">#}
{#                            <span class="span editContent" >{{ genre }}</span>#}
                        </div>
                    {% endfor %}
                </ul>
                <button type="submit" class="btn btn-outline-secondary btn-lg" style="border-radius: 10%">Find</button>
            </div>
        </form>
    {% endif %}
    <hr>

    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
    </div>
</div>
